h1 {
  margin: 20px 0px 20px 0px;
}

p {
  margin: 15px 0px 0px 0px;
}

body {
  font-family: "Noto Sans SC", sans-serif;
}

input {
  height: 50px;
  width: 100%;
  padding: 6px;
  margin-bottom: 10px;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px 10px 10px 15px;
  border-radius: 4px;
  background-color: gray;
  color: white;
}

li button {
  float: right;
  border: none;
  height: 30px;
  cursor: pointer;
  background-color: red;
  border-radius: 4px;
  color: white;
  font-size: 1em;
}

li button:hover {
  background-color: pink;
}

.button-success {
  float: right;
  border: none;
  height: 30px;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-size: 1em;
}

#kvp-text {
  border: 1px solid gray;
  border-radius: 4px;
}

#kvp-string {
  border: 1px solid gray;
  border-radius: 4px;
  margin-top: 10px;
}
